body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;	
	background-image:url("resources/background.png");
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
    font-size: 1em; 
    line-height:1.2;

}

h1 {
	margin-top: 5px;
	margin-bottom: 10px;
}

h2 {
	margin-top: 5px;
	margin-bottom: 10px;
}

td {
	vertical-align: top;
}

A:link {
text-decoration: none;
color: #FF6600;
}

A:visited {
text-decoration: none;
color: #FF6600;
}

A:hover {
text-decoration: underline;
color: #FF6600;
}

#thisLink
{
	color: #000000;
	pointer-events: none;
}

#description
{
	width: 100%;
}

#images
{
	width: 100%;
	float:left;
	clear:both;
}

#navbar
{
	clear:both;
}

#navbar-separator{
	width: 200px;
}